# Systray
#cbatticon &
nm-applet &
xfce4-volumed-pulse & # Notification
#volumeicon & # Icon
xfce4-power-manager &
#blueberry-tray &
picom -b &

#cpupower-gui profile Battery &

# For laptops with separate numeric keyboard
numlockx on &

# GNOME PolicyKit authentication
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Desktop notification
/usr/lib/xfce4/notifyd/xfce4-notifyd &#!/bin/sh

# Wallpaper
~/.fehbg
